.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: 12px;

  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  transition: 0.4s;
  border-radius: 11px;
}

input:checked + .slider {
  background-color: rgb(124 58 237);
}

input:checked + .slider:before {
  transform: translate(100%);
}
